/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*personal styles*/

body {
  font-family: 'Droid Serif', serif;
  color: #858585;
  line-height: 30px;
}

p {
  text-indent: 2.0em;
  font-family: 'Droid Serif', serif;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #313131;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.masthead {
  background: url(Images/border.png) repeat-x bottom;
  width: 960px;
  padding: 30px 0;
  padding-bottom: 40px;
}

.masthead__logo {
  display: block;
  float: left;
  margin-right: 7px;
}

.masthead__logo--wrapper {
  float: left;
}

.masthead__logo--delicious {
  font-family: 'Yellowtail', cursive;;
  font-size: 38px;
  color: #313131;
  width: 100%;
}

.masthead__logo--best {
  font-family: 'Abel', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #313131;
}

.social-icons {
  display: inline;
  float: right;
  margin: 0 auto;
  padding-top: 12px;
}

.social-icons li {
  display: inline-block;
  list-style: none;
  float: left;
  margin-left: 2px;
}

.social-icons li:nth-child(7) {
  margin-left: 10px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #313131;
  padding-top: 30px;
  margin-bottom: 10px;
}

.title__subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #858585;
}

.title__subtitle--print {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #858585;
}

.blog-photo {
  width: 100%;
  height: auto;
}

.instructions {
  text-indent: 32px;
  padding-top: 36px;
}

.instructions p {
  padding-bottom: 40px;
}

.ingredients__recipe {
  background: url(Images/list-bg.png) no-repeat;
}

.ingredients__recipe ul {
  list-style: none;
}

.author {
  background: url(Images/border.png) repeat-x top;
  display: block;
  width: 960px;
  padding: 30px 0;
  padding-bottom: 40px;
  margin-top: 40px;
}

.author__photo {
  float: left;
  width: 70px;
  border-radius: 100%;
  margin-right: 20px;
}

.author__text {
  display: inline-block;
  width: 600px;
}

.author__bio {
  color: #858585;
}

.share__recipe {
  display: inline-block;
  background-color: #bb7056;
  font-family: 'Abel';
  font-size: 1.25rem;
  color: white;
  line-height: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
}

.footer {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 35px 0 60px 0;
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #bbb;
}

.small-logo {
  border-top: 1px solid gray;
  text-align: center;
  padding: 0 5px 0 5px;
  margin-top: -18px;
}
